.elementor-kit-6{
	--e-global-color-primary:#6EC1E4;
	--e-global-color-secondary:#54595F;
	--e-global-color-text:#7A7A7A;--e-global-color-accent:#61CE70;
	--e-global-typography-primary-font-family:"Montserrat";
	--e-global-typography-primary-font-weight:700;
	--e-global-typography-secondary-font-family:"Montserrat";
	-e-global-typography-secondary-font-weight:400;
	--e-global-typography-text-font-family:"Montserrat";
	--e-global-typography-text-font-weight:400;
	--e-global-typography-accent-font-family:"Montserrat";--e-global-typography-accent-font-weight:400;
}
.elementor-kit-6 e-page-transition{
	background-color:#FFBC7D;
}
.elementor-kit-6 button,
.elementor-kit-6 input[type="button"],
.elementor-kit-6 input[type="submit"],
.elementor-kit-6 .elementor-button{
	font-family:"Montserrat", sans-serif;
	font-weight:700;
	text-transform:uppercase;
	color:#FFFFFF;
}
.elementor-section.elementor-section-boxed > .elementor-container{
	max-width:1280px;
}
.e-con{
	--container-max-width:1280px;
}
.elementor-widget:not(:last-child){
	margin-block-end:20px;
}
.elementor-element{
	--widgets-spacing:20px 20px;
}
h1.entry-title{
	display:var(--page-title-display);
}
.site-header .site-branding{
	flex-direction:column;
	align-items:stretch;
}
.site-header{
	padding-inline-end:0px;
	padding-inline-start:0px;
}
.site-footer .site-branding{
	flex-direction:column;
	align-items:stretch;
}
@media(max-width:1024px){
	.elementor-section.elementor-section-boxed > .elementor-container{
		max-width:1024px;
	}
	.e-con{
		--container-max-width:1024px;
	}
}
@media(max-width:767px){
	.elementor-section.elementor-section-boxed > .elementor-container{
		max-width:767px;
	}
	.e-con{
		--container-max-width:767px;
	}
}
/* Start Custom Fonts CSS */
@font-face {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url('../fonts/montserrat-regular.eot');
	src: url('../fonts/montserrat-regular-fix.eot') format('embedded-opentype'),
		url('../fonts/montserrat-regular.woff2') format('woff2'),
		url('../fonts/montserrat-regular.woff') format('woff'),
		url('../fonts/montserrat-regular.ttf') format('truetype');
}
@font-face {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: url('../fonts/montserrat-bold.eot');
	src: url('../fonts/montserrat-bold.eot') format('embedded-opentype'),
		url('../fonts/montserrat-bold.woff2') format('woff2'),
		url('../fonts/montserrat-bold.woff') format('woff'),
		url('../fonts/montserrat-bold.ttf') format('truetype');
}
/* End Custom Fonts CSS */